.containe {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

.left-half,
.right-half {
    height: 100%;
    width: 100%;
}

.left-half{
  padding: 20px;
  display: flex;
}

.left-half input[type=email], input[type=password]{
    margin-bottom: 15px;
}

.right-half img{
  height: 100%;
}

.login-form {
    margin: auto;
    width: 100%;
    max-width: 500px;
}